[tool.poetry]
name          = "onboardme"
version       = "0.15.4"
description   = "An onboarding tool to install dot files and packages including a default mode with sensible defaults to run on most Debian/macOS machines."
authors       = ["Jesse Hitch <jessebot@linux.com>"]
license       = "AGPL-3.0-or-later"
readme        = "README.md"
documentation = "https://jessebot.github.io/onboardme/onboardme"
repository    = "http://github.com/jessebot/onboardme"
keywords      = ["onboardme", "onboarding", "desktop-setup", "development-environment"]
classifiers   = ["Development Status :: 3 - Alpha",
                 "Programming Language :: Python :: 3.11",
                 "Operating System :: MacOS :: MacOS X",
                 "Operating System :: POSIX :: Linux",
                 "Intended Audience :: End Users/Desktop",
                 "Topic :: System :: Installation/Setup",
                 "License :: OSI Approved :: GNU Affero General Public License v3 or later (AGPLv3+)"]
packages      = [{include = "onboardme"}]
include       = ["onboardme/config/onboardme_config.yml",
                 "onboardme/config/packages.yml",
                 "onboardme/config/brew/Brewfile_Darwin",
                 "onboardme/config/brew/Brewfile_devops"]

[tool.poetry.dependencies]
python    = "^3.11"
click     = "^8.1.3"
rich      = "^12.6.0"
PyYAML    = "^6.0"
GitPython = "^3.1.29"
wget      = "^3.2"

[tools.poetry.plugins."onboardme.application.plugin"]
"onboardme" = "onboardme:main"

[tool.poetry.scripts]
onboardme = 'onboardme:main'

[tool.poetry.urls]
"Bug Tracker" = "http://github.com/jessebot/onboardme/issues"

[build-system]
requires      = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
