@font-face {
  font-family: "Mononoki";
  src: url("../fonts/mononoki-Regular-Nerd-Font-Complete.ttf") format('truetype');
}

$body-font-family: "Mononoki" !default;

$mono-font-family: "Mononoki" !default;
